@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: 0;
	margin: 0;
	padding: 0;
}

body,
input {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
	scrollbar-color: #cbd5e0 #f1f1f1;
	scrollbar-width: thin;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
button span {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

abbr,
abbr[title] {
	cursor: pointer;
	text-decoration: none;
}

.sidebar-close-icon {
	@apply bg-transparent cursor-pointer duration-300 flex h-10 items-center justify-center rounded-full text-primary-600 text-xl transform transition w-10 hover:bg-gray-200 hover:scale-110 lg:hidden;
}

.sidebar-link {
	@apply cursor-pointer flex items-center justify-between no-underline p-4;
}

.sidebar-link.active {
	@apply bg-primary-500 text-gray-100 tracking-widest;
}

.sidebar-link.disabled {
	@apply bg-gray-500 text-gray-100 tracking-widest;
}

.sidebar-link.active .link-icon,
.sidebar-link:hover .link-icon {
	@apply text-gray-100;
}

.sidebar-link.inactive {
	@apply duration-500 text-gray-700 transform transition hover:bg-primary-500 hover:text-gray-100 hover:tracking-widest;
}

.sidebar-logout {
	@apply overflow-hidden text-red-500;
}

.sidebar-logout:hover {
	@apply border-red-300 shadow-lg text-red-400 !important;
}

.sidebar-logout.lg-btn {
	border-radius: 4px !important;
	height: 50px !important;
}

/* width */
::-webkit-scrollbar {
	height: 12.5px;
	width: 12.5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cbd5e0;
	border: 3px solid #edf2f7;
	border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #a0aec0;
}

@media (min-height: 550px) {
	.sidebar-logout {
		@apply absolute bottom-10;
	}
}

/*.ant-switch-checked.active-device {
  @apply bg-gray-100;
}

.ant-switch-checked.active-device:hover {
  @apply hover:bg-gray-300;
}

.ant-switch-checked.active-device .ant-switch-handle::before {
  @apply bg-primary-500;
}
*/
